@model IEnumerable<Documents>


@foreach (var item in Model)
{
    <li class="section__documents-item section-item">
        <a href="~/Files/@item.FileName" target="_blank" class="section-item__body">
            <time class="section-item__time">@item.DateAdd</time>
            <p class="section-item__text">@item.Name</p>
        </a>
    </li>
}
